/* stylelint-disable */
@import 'tailwindcss';
/* stylelint-enable */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.carousel-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(88, 100, 194, 0.307); /* Semi-transparent black */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

.carousel-button:hover {
  background-color: #333;
}

.dot-button {
  border: none;
  padding: 0;
  background-color: pink; /* Default color for inactive dots */
  cursor: pointer; /* Ensure the button behaves as clickable */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
  border-radius: 50%;
}

.dot-button.active {
  background-color: rgba(0, 0, 255, 0.502); /* Filled color for active dot */
  transform: scale(1.2); /* Slightly enlarge the active dot */
}

.dot-button.inactive {
  background-color: transparent; /* Empty color for inactive dots */
  border: 1px solid white; /* Border color for inactive dots */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*
.get-started-bg {
  background-image: url('../public/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
} */

/* .sign-in-button {
  padding: 12px 24px;
  font-size: 1rem;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.sign-up-button {
  font-size: 1rem;
  color: white;
  background: #2563eb;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  width: 200px;
} */
