@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Playwrite+HR:wght@100..400&family=Playwrite+VN:wght@100..400&family=Rubik+Wet+Paint&display=swap');

.header {
  background-color: #562b81;
}

.form-image {
  max-height: 12rem;
  margin-bottom: 1rem;
  aspect-ratio: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.input-height {
  height: 2.5rem;
}

.purple-outline {
  outline-color: #562b81;
}

.input-b-radius {
  border-radius: 30px;
}

.text-padding {
  padding: 0.5rem;
}

.input-b-color {
  border: 1px solid #b6b6b6;
}

.entry-ul {
  list-style: none;
  padding: 0;
}

.entries-link {
  text-decoration: none; /* Removes underline */
  font-size: 1rem; /* Set a standard font size (default) */
  outline: none; /* Removes focus outline */
  padding: 0.5rem 1rem; /* Adds padding inside the link for clickable area */
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  cursor: pointer; /* Changes the cursor on hover */
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center; /* Vertically centers text and icons */
  margin: 0; /* Removes any default margin */
  color: white; /* Ensures the text color is white */
  transition: all 0.3s ease; /* Adds smooth transition for hover effects */
}

/* Add hover effect for better interactivity */
.entries-link:hover {
  color: #fbbc04; /* Changes text color on hover */
  text-decoration: underline; /* Underline effect on hover */
}

.log-out:hover {
  color: #ce22b4; /* Change text color on hover */
  text-decoration: underline; /* Underline effect on hover */
}

.form-link {
  text-decoration: none;
  outline: none;
  background-color: #61a4e6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.delete-entry-button {
  border: none;
  text-decoration: underline;
  color: red;
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure modal is centered on screen */
}

.modal {
  width: 400px;
  height: 160px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Adjust space between the text and buttons */
  align-items: center; /* Center the content inside modal */
  padding: 20px;
}

.modal-button-confirm {
  border-radius: 5px;
  height: 50px;
  width: 120px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer; /* Add pointer cursor for better UX */
  color: red;
}

.modal-button-cancel {
  border-radius: 5px;
  height: 50px;
  width: 120px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.entry-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.entry-card:hover img {
  transform: scale(1.1);
}

.entry-list-container {
  padding-top: 1rem; /* Adjust this value to match the height of your navbar */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/fonts/Oswald.woff2') format('woff2');
}

.cedarville-cursive-regular {
  font-family: 'Cedarville Cursive', serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-400 {
  font-family: 'Dancing Script', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playwrite-hr-400 {
  font-family: 'Playwrite HR', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-regular {
  font-family: 'Delius Unicase', serif;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: 'Delius Unicase', serif;
  font-weight: 700;
  font-style: normal;
}

.playwrite-vn-400 {
  font-family: 'Playwrite VN', serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: normal;
}
