@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Playwrite+HR:wght@100..400&family=Playwrite+VN:wght@100..400&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+HR:wght@100..400&family=Playwrite+VN:wght@100..400&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+HR:wght@100..400&family=Playwrite+VN:wght@100..400&family=Rubik+Wet+Paint&family=Ysabeau+SC:wght@1..1000&display=swap');

.header {
  background-color: #562b81;
}

.form-image {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 1rem;
  aspect-ratio: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.input-height {
  height: 2.5rem;
}

.purple-outline {
  outline-color: #562b81;
}

.input-b-radius {
  border-radius: 30px;
}

.text-padding {
  padding: 0.5rem;
}

.input-b-color {
  border: 1px solid #040303;
}

.entry-ul {
  list-style: none;
  padding: 0;
}

.entries-link {
  text-decoration: none; /* Removes underline */
  font-size: 1rem; /* Set a standard font size (default) */
  outline: none; /* Removes focus outline */
  padding: 0.5rem 1rem; /* Adds padding inside the link for clickable area */
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  cursor: pointer; /* Changes the cursor on hover */
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center; /* Vertically centers text and icons */
  margin: 0; /* Removes any default margin */
  color: white; /* Ensures the text color is white */
  transition: all 0.3s ease; /* Adds smooth transition for hover effects */
}

/* Add hover effect for better interactivity */
.entries-link:hover {
  color: #fbbc04; /* Changes text color on hover */
  text-decoration: underline; /* Underline effect on hover */
}

.log-out:hover {
  color: #ce22b4; /* Change text color on hover */
  text-decoration: underline; /* Underline effect on hover */
}

.form-link {
  text-decoration: none;
  outline: none;
  background-color: #61a4e6;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  color: white;
}

.delete-entry-button {
  border: none;
  text-decoration: underline;
  color: red;
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure modal is centered on screen */
}

.modal {
  width: 400px;
  height: 160px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Adjust space between the text and buttons */
  align-items: center; /* Center the content inside modal */
  padding: 20px;
}

.modal-button-confirm {
  border-radius: 5px;
  height: 50px;
  width: 120px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer; /* Add pointer cursor for better UX */
  color: red;
}

.modal-button-cancel {
  border-radius: 5px;
  height: 50px;
  width: 120px;
  border: none;
  font-size: 1.3rem;
  color: white;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.entry-card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.entry-card:hover img {
  transform: scale(1.1);
}

.entry-list-container {
  padding-top: 1rem; /* Adjust this value to match the height of your navbar */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.postcard-section {
  background-color: #f4f1e1; /* Light brown color for aged paper */
  background-image: url('https://www.transparenttextures.com/patterns/old-wall-3.png'); /* Paper texture */
  background-size: cover; /* Ensures the background texture covers the element */
  background-position: center center;
  padding: 2rem; /* Padding inside the card */
  border-radius: 8px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Shadow to give depth */
  position: relative;
  overflow: hidden;
}

.postcard-border {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-width: 10px;
  border-style: solid;
  border-image: repeating-linear-gradient(
      45deg,
      #ff4c4c,
      #ff4c4c 10px,
      #3f8cff 10px,
      #3f8cff 20px,
      #fff 20px,
      #fff 30px
    )
    1;
  background-clip: padding-box;
}

.postcard-container h1,
.postcard-container p {
  text-align: center; /* Centering the text */
}

.postcard-lines p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Horizontal lines */
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.postcard-lines p:last-child {
  border-bottom: none; /* Remove line for last item */
}

.postcard-section strong {
  font-size: 1.2rem;
  color: #333;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/fonts/Oswald.woff2') format('woff2');
}

.cedarville-cursive-regular {
  font-family: 'Cedarville Cursive', serif;
  font-weight: 400;
  font-style: normal;
}

.cedarville-cursive-regular-4 {
  font-family: 'Cedarville Cursive', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

.dancing-script-400 {
  font-family: 'Dancing Script', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playwrite-hr-400 {
  font-family: 'Playwrite HR', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-regular {
  font-family: 'Delius Unicase', serif;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: 'Delius Unicase', serif;
  font-weight: 700;
  font-style: normal;
}

.playwrite-vn-400 {
  font-family: 'Playwrite VN', serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: normal;
}

.merriweather-regular {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-style: normal;
}

.text-shadow-dark {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6); /* Darker shadow with more spread */
}

.caveat-200 {
  font-family: Caveat, serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.caveat-400 {
  font-family: Caveat, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
}

.ysabeau-sc-200 {
  font-family: 'Ysabeau SC', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ysabeau-sc-300 {
  font-family: 'Ysabeau SC', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
